.title {
    background-color: blue;
    color: aliceblue;
    text-align: center;
    border-radius: 2ch;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#intro {
    text-align: center;
}

#paraTwo {
    text-align: center;
    background-color: aquamarine;
    margin-bottom: -20px;
}
li {
    margin-bottom: 8px;
}

.recipes {
    background-color: bisque;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
